.chatBlock {
    display: flex;
    flex-direction: column;
    gap: var(--spacingS);
    max-width: 30%;
    width: 100%;
    background-color: var(--colorDarkGray);
}

.header {
    padding: var(--spacingL) var(--spacingM);
}

.title {
    font-size: var(--fzM);
    line-height: 1.625;
    font-weight: 700;
}

.chatLists {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.subtitle {
    padding-inline: var(--spacingS);
    margin-bottom: var(--spacingS);
}
