.input {
	border-radius: var(--borderRadiusS);
	padding: var(--spacingS);
	color: var(--colorPrimary);
	width: 100%;
}

.input::placeholder {
	color: var(--colorSilverGray);
}

.input:focus {
	&::placeholder {
			color: transparent;
	}
}
