.chat {
	display: flex;
	background-color: var(--colorDarkestGray);
	width: 100%;
}

.container {
	position: relative;
	height: 100%;
	width: 100%;

	&::after {
		content: "";
		position: absolute;
		background-image: url("../../../public/background.png");
		opacity: 0.06;
		width: 100%;
		height: 100%;
		top: 0;
	}
}

.inner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	z-index: 1;
}

.chatHeader {
	position: relative;
	display: grid;
    grid-template-columns: 1fr auto;
	gap: var(--spacingM);
	height: 4rem;
	padding: 10px var(--spacingM);
	cursor: pointer;
}

.chatHeaderContact {
	display: flex;
	align-items: center;
	gap: var(--spacingM);
}

.chatHeader,
.footer {
	background-color: var(--colorGray);
	z-index: 1;
}

.imgContainer {
	min-width: 2.5rem;
}

.img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	flex-shrink: 0;
}

.title {
	font-size: var(--fzM);
}

.content {
	display: flex;
	height: 100%;
	overflow-y: auto;
}

.contentInner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 2px;
	height: fit-content;
	padding: 0 var(--spacingMax) var(--spacingXs) var(--spacingMax);
	margin-top: auto;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--spacingXs);
	gap: var(--spacingS);
}

.chatPreview {
	display: flex;
	flex-direction: column;
	gap: var(--spacingL);
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.chatHeaderMenuBlock {
	margin-left: auto;
}

.chatHeaderMenuBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
	
	z-index: 2;
}

.chatHeaderMenuBtn.isBtnActive {
	background-color: var(--colorLightGray);
}

.chatHeaderMenu {
	position: absolute;
	transform-origin: right top;
	top: 3.625rem;
	right: 0.875rem;
	max-width: 21.25rem;
	width: 100%;
	background-color: var(--colorGray2);
    padding: 0.5rem 0;
    text-align: left;
	border-radius: var(--borderRadiusXs);
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
	transition: all linear 0.3s;
	box-shadow: var(--boxShadow3);
}

.chatHeaderMenu.isMenuActive {
    transform: scale(1);
    opacity: 1;
	pointer-events: all;
}

.chatHeaderMenuList {
	font-size: var(--fzS);

	li {
		padding: 12px 24px;
		cursor: pointer;
	}

	li:hover {
		background-color: var(--colorDarkGray);
	}
}

.chatContactInfo {
	width: 80%;
}

.chatContactInfoHeader {
	display: flex;
	align-items: center;
	padding: 18px 30px;
}

.chatContactInfoCloseBtn {
	width: 24px;
	height: 24px;
	color: var(--colorSecondary);
}
.chatContactInfoImg,
.chatContactInfoHeader {
	gap: 20px;
	background-color: var(--colorDarkGray);
}

.chatContactInfoImg {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 30px;
	background-color: var(--colorDarkGray);
	margin-bottom: 10px;
}
